body {
  background-color: white;
  font-family: sans-serif;
}
h2 {
  color: green;
}
div {
    background-color: #fcffb5;
    width: 450px;
    padding: 20px 80px 20px 80px;
    margin: 0px auto;
    line-height: 0.5;
    text-align: center;
}
h1 {
  font-family: sans-serif;
  font-size: 30px;
  color: green;
  }

p {
  /*/text-indent: 35px;/*/
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-family: serif;
  font-size: 40px;
  color: #1d65b0;
  }

h3 {
  font-family: serif;
  font-size: 20px;
  color: #1d65b0;
  }

  span {
  color: black;
  background-color: #fcffb5;
}
